body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

#home {
    background: #f4f4f4;
}

#about, #projects, #contact {
    background: #fff;
    border-top: 1px solid #ccc;
}

.project {
    margin-bottom: 2em;
}

.project img {
    width: 100%;
    max-width: 1500px; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    max-height: 2000px; /* Ensures all images have the same height */
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the profile within its container */
    padding: 2em 0; /* Adds vertical padding to the profile section */
}

.profile img {
    width: 150px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
    border-radius: 50%; /* Makes the image round */
    margin-right: 20px; /* Provides space between the image and text */
}

.intro {
    max-width: 600px; /* Limiting the width of the introduction text */
}

.intro h1 {
    font-size: 2em; /* Adjust size as needed */
}

.intro p {
    font-size: 1.2em; /* Adjust size as needed */
}
